html, body {
    height: 100%;
}
#map-header {
    margin-left: 5px;
    margin-right: 5px;
}
.margin-top-style-5 {
    margin-top: 5px;
}
#map {
    position: fixed;
    top:50px;
    left:0px;
    right:0px;
    bottom: 10px;
    width: 100%;
}